/*Home */

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    color: rgb(43, 117, 237);
    margin-left: -70px;
}

/* Colors for brand */
nav .navbar-brand .s
{
    color: rgb(43, 117, 237);
    font-family: Bell Mt
}
nav .navbar-brand .t
{
    color: crimson;
    font-family: Bell Mt;
}
nav .navbar-brand .u
{
    color: rgb(43, 117, 237);
    font-family: Bell Mt;
}
nav .navbar-brand .o
{
    color: rgb(43, 117, 237);
    font-family: Bell Mt;
}
#m {
    font-family: Bell Mt;
}
#welcome {
    font-family: Bell Mt;
}
#big {
    font-size: 55px;
    color: hwb(203 12% 13%);
}
#small {
    font-size: 30px;
    color: hwb(203 12% 13%);
}
#div {
    background-color: red;
}
#content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9ecef;
}
#par {
    text-align: center;
    font-size: 20px;
}
#para {
    font-size: 20px;
    text-align: left;
}
#head {
    color: hwb(203 12% 13%);
}
#s {
    font-size: xx-large;
    color: hwb(203 12% 13%);
    font-family: Bell Mt;


}
.t {
    font-size: xx-large;
    color:red;
    font-family: Bell Mt;
}
footer {
    background-color: skyblue;
    color: white;
    margin: 50px;
    padding: 20px;
    text-align: center;
}
.footer-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 30px;
}
.footer-pages {
    margin-bottom: 20px;
    text-align: right;
}
.footer-pages ul {
    list-style: none;
    color:white;
    text-align: right;
    padding:20px
}
.footer-pages ul li a {
    color: white;
    text-decoration: none;
}
/* school_traker */
#main_school {
    text-align: left;
    color: hwb(203 12% 13%);
    margin: 40px;
}
#sch {
    margin-top: 20px;
}
#graph_img {
    margin: 60px;
}
.pa {
    text-align: left;
    margin-top: 14px;
    color: hwb(203 12% 13%);
}
.text {
    text-decoration: none;
}
legend {
    color: hwb(203 12% 13%);
    font-family: Bell Mt;
}

/* press section */
.press {
    font-family: Bell Mt;
    color: green;
}
#press1 {
    font-family: serif;
    color: hwb(203 12% 13%);

}
.press2 {
    margin-right: 270px;
    color: hwb(203 12% 13%);
}
.press3 {
    color: hwb(203 12% 13%);
    text-align: left;
}
.press4 {
    text-align: left;
}
.press5 {
    color: hwb(203 12% 13%);
    margin-right: 140px;

}
.press6 {
    text-decoration: none;
}
.research {
    text-align: left;
    color: hwb(203 12% 13%);
}
.research1 {
    text-align: left;
    color: hwb(203 12% 13%);
    font-size: 18px;
}
.research2 {
    text-align: left
}
.research3 {
    text-decoration: none;
}
 .blog {
    font-family: serif;
    font-size: 30px;
    color: hwb(203 12% 13%);
 }
 .blog2 {
    font-family: serif;
    font-size: 30px;
    text-align: left;
 }
 .blog1 {
    text-align: left;
    font-size: 18px;
 }
.blog3 {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}
#btn {
    text-decoration: none;
}

.about {
    font-family: Bell Mt;
    font-weight: bold;
}
.about1 {
    font-size: 19px;
    font-family: serif;
}
.greeting {
    font-family: Bell Mt;
    font-size: 20px;
    color: green;
    font-weight: bold;
}

.community {
    text-align: left;
    color: hwb(203 12% 13%);
}
.community1 {
    text-align: left;
    font-weight: bold;
    color: hwb(203 12% 13%);
}
.community2 {
    text-align: left;
    color: brown;
}
.community3 {
    text-decoration: none;
}
#comun {
    text-decoration: none;
    color: brown;
}
