{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
<h1 class="about">About Us</h1><br><br><br>
<div class="container col-md-7">
    <P class="about1">Sumo Tracker Website is a new community event tracker Website which can help people to find different upcoming and running events near by them. This website is made for the people who want to be part of different upcoming events.
        This website also ensures that the news must be updated time to time so that the users can stay updated. In future, There will be more useful and
    strong content for our users. So, I am requesting all to support us and We are there for you.</P>
    <p class="greeting">Thank You for Visiting Our Website!</p>
</div>
{% endblock %}
