{% extends "layout.html" %}

{% block title %}
    Blog
{% endblock %}

{% block main %}
<h3 class="blog">Designing Effective Community Events</h3>
<h6 class="blog2 pt-5">Summary:</h6>
<ul class="pt-3">
    <li class="blog1">A Community Event is any kind of a community activity that brings together all members, or a subset of members together, physically or virtually, for a predetermined amount of time to meet, connect, exchange knowledge or collaborate in some way</li>
    <li class="blog1">Community Events are essential because they serve as a vehicle to connect people, build relationships, and create a sense of common identity</li>
    <li class="blog1">Any event takes a lot of planning so consider three principles to guide your thinking</li>
</ul>

<p class="blog3 pt-3">What are Community Events? </p>
<p class="blog1">A Community Event is any kind of a community activity that brings together all members, or a subset of members together, physically or virtually, for a predetermined amount of time to meet, connect, exchange knowledge or collaborate in some way. Some common Community Events include peer learning events, learning workshops, guest speaker series or panels, happy hours or other socials, or even multi-day conferences</p>
<p class="blog1">What makes a Community Event effective is how the event brings members together, facilitates relationship building, and deepens the sense of community and belonging. </p>


<p class="blog3 pt-3">Why are Community Events important?</p>
<p class="blog1">A Community of Practice may have a large number of features or initiatives, such as a monthly e-newsletter, a website with resources or knowledge repository, online discussions. These are all important elements, however, for a Community to really thrive, it needs to connect people, build relationships, and create a sense of common identity. Community Events are a great vehicle for this because they provide members with opportunities to interact directly.</p>
<p class="blog1">Community Events serve a variety of purposes:</p>
<ul>
    <li class="blog1">Bring diverse people together and unite audiences</li>
    <li class="blog1">Drive engagement within the community </li>
    <li class="blog1">Create habits of participation</li>
    <li class="blog1">Convert consumers into more active participants</li>
    <li class="blog1">Forge and celebrate a community identity</li>
    <li class="blog1">Generate a sense of shared history</li>
    <li class="blog1">Recruit Core Group members or other volunteers</li>
</ul>

<p class="blog3 pt-3">How do you organize effective Community Events?</p>
<p class="blog1">Any event takes a lot of planning, even a small event, and a lot goes into planning and executing an effective Community Event. Consider these three broad principles to guide your thinking:</p>
<ul>
    <li class="blog1">Create a welcoming, safe and interactive environment</li>
    <li class="blog1">Apply the 75/25 rule</li>
    <li class="blog1">Keep a good balance between full group engagement and small group discussion</li>
</ul>

<p class="blog3 pt-3">Create a welcoming, safe, and interactive environment</p>
<p class="blog1">First and foremost, you want your Community’s members to feel welcome and safe. This is especially important for newer members - to show that the Community is for them. For example, set guiding principles (or ground rules) for the Community and all interactions, such as confidentiality (e.g.: you may set an informal rule such as “what happens in Vegas, stays in Vegas”). Ensure there’s always someone greeting people as they arrive to the physical or virtual space.</p>

<p class="blog3 pt-3">Apply the 75/25 rule</p>
<p class="blog1">What builds a Community? At the very core of community building, it is community members who build a Community by developing and deepening relationships with each other. You can help build relationships within a Community by facilitating interactions among members during events. A rule of thumb would be to design Community Events in such a way that the majority of the time (about 75%) is taken by members interacting with other members and only 25% or less is taken by moderators and guest speakers.</p>
<p class="blog1">This rule can help prevent the very common situation of hosting an event which is aimed at driving conversation, but not leaving enough time for the actual conversation to take place during the event. To visualize this, think of a one-hour webinar in which the first 10 minutes are spent on logistics and introductions; then a guest speaker delivers a 40-minute presentation with many slides; after that the moderator opens the floor for questions, but by the time the speaker answers two questions, the event is over. No actual conversation has taken place</p>
<p class="blog1">This is not to say there is not a time and a place for such a content-heavy event. But if the purpose of an event is to build relationships, you want to choose a different format for it. The 75/25 rule can help you design events that build your Community.</p>

<p class="blog3 pt-3">Keep a good balance between full group engagement and small group discussion and space for individual reflection </p>
<p class="blog1">Some members may feel more energized when working in louder spaces where many people interact in a big group. Others may prefer quieter and more intimate spaces, with fewer people, where they feel comfortable participating. However small or large an event may be, it is essential to create space for both. This makes it easy for different people in your Community to engage with other members. </p>
<p class="blog1">Allocate some time to the full group to stay together and exchange in plenary, while also creating space for interacting in smaller groups (2-4 people). Additionally, consider carving out a few minutes for silent reflection to help participants process and reflect on their experience. </p>
<button type="button" class="btn btn-primary"><a id="btn" href="https://whatworkswellbeing.org/wp-content/uploads/2021/10/Funding-Officer-Briefing-events.pdf">Learn More</a></button>

{% endblock %}
