{% extends "layout.html" %}

{% block title %}
    School Tracker
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h6 class="community">NEW FOR 2024</h6>
            <p class="community1">State Funding Sources</p>
            <p class="community2">Single source of information for state level grants for all 50 states, detailing key grant features including eligibility requirements, application information, fund availability and award detail and more </p>
            <a class="community3" href="https://about.burbio.com/state-funding-sources?hsLang=en"><span id="community7">Learn More</span></a>
        </div>
        <div class="col-md-3">
            <p class="community1">ESSER III Spending Details</p>
            <p class="community2">Dataset of 7,000+ categorized district spending plans and updated actual ESSER III spent to date</p>
            <a class="community3" href="https://about.burbio.com/esser-iii-v2?hsLang=en"><span id="community1">Learn More</span></a>
        </div>
        <div class="col-md-3">
            <p class="community1">School Board Meeting and Strategic Plan Tracker</p>
            <p class="community2">Keyword searchable library of School Board Meeting Documents and Strategic Plans</p>
            <a class="community3" href="https://about.burbio.com/school-board-meeting-tracker?hsLang=en"><span id="community2">Learn More</span></a>
        </div>
        <div class="col-md-3">
            <p class="community1">K-12 Checkbook Registers</p>
            <p class="community2">Searchable document library of vendor payments -updated quarterly</p>
            <a class="community3" href="https://about.burbio.com/k12-checkbook-register?hsLang=en"><span id="community3">Learn More</span></a>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-md-3">
            <p class="community1">Superintendent Turnover Tracker</p>
            <p class="community2">Dataset of hundreds of districts with recent or pending leadership changes allows you to stay up to date with your current accounts and follow superintendents you've worked with into new opportunity districts</p>
            <a class="community3" href="https://about.burbio.com/superintendent-turnover-tracker?hsLang=en"><span id="community4">Learn More</span></a>
        </div>
        <div class="col-md-3">
            <p class="community1">School Calendar Insights</p>
            <p class="community2">Granular, detailed data on K-12 school start dates, end dates, vacation and school holidays</p>
            <a class="community3" href="https://about.burbio.com/school-calendar-insights?hsLang=en"><span id="community5">Learn More</span></a>
        </div>
        <div class="col-md-3">
            <p class="community1">School Opening Tracker</p>
            <ul>
                <li class="community2">Comprehensive and widely used (for <a id="comun" href="https://glowing-giggle-5g4qg9v7w7j7cp99-5000.app.github.dev/research">research</a> and press) source of school opening and Covid mitigation data</li>
                <li class="community2">Details include a history of school closures from 2020 to June 2022 and includes tracking on major policy issues such as mask policies, daily school disruptions, and more</li>
            </ul>
            <a class="community3" href="https://about.burbio.com/school-opening-tracker?hsLang=en"><span id="community6">Learn More</span></a>
        </div>
        <div class="col-md-3">
            <p class="community1">Community Event Tracker</>
            <p class="community2">Delivers a database of 150,000+ school, government, library and community calendars streaming millions of hyper-local events for use in consumer engagement by partners across media, real estate, and non-profit organizations</p>
            <a class="community3" href="https://glowing-giggle-5g4qg9v7w7j7cp99-5000.app.github.dev/"><span id="community8">Learn More</span></a>
        </div>
    </div>
</div>

<script>
        var community = document.getElementById("community1");
    community.style.color = "green";
    community.style.fontWeight = "bold";
    community.style.border = "3px solid crimson";
    community.style.marginRight = "205px";


    var community2 = document.getElementById("community2");
    community2.style.color = "green";
    community2.style.fontWeight = "bold";
    community2.style.border = "3px solid crimson";
    community2.style.marginRight = "205px";


    var community3 = document.getElementById("community3");
    community3.style.color = "green";
    community3.style.fontWeight = "bold";
    community3.style.border = "3px solid crimson";
    community3.style.marginRight = "205px";


    var community4 = document.getElementById("community4");
    community4.style.color = "green";
    community4.style.fontWeight = "bold";
    community4.style.border = "3px solid crimson";
    community4.style.marginRight = "205px";


    var community5 = document.getElementById("community5");
    community5.style.color = "green";
    community5.style.fontWeight = "bold";
    community5.style.border = "3px solid crimson";
    community5.style.marginRight = "205px";


    var community6 = document.getElementById("community6");
    community6.style.color = "green";
    community6.style.fontWeight = "bold";
    community6.style.border = "3px solid crimson";
    community6.style.marginRight = "205px";


    var community7 = document.getElementById("community7");
    community7.style.color = "green";
    community7.style.fontWeight = "bold";
    community7.style.border = "3px solid crimson";
    community7.style.marginRight = "205px";


    var community8 = document.getElementById("community8");
    community8.style.color = "green";
    community8.style.fontWeight = "bold";
    community8.style.border = "3px solid crimson";
    community8.style.marginRight = "205px";
</script>

{% endblock %}
