{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div>
    <strong id="big">Sumo's Community Event Tracker</strong>
<div id="small" class="pt-3"><h3>Powerful Local Content for Every Community in the USA</h3></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img class="pt-4" src="/static/sumo.jpg" width="371" height="359">
        </div>
        <div class="col-md-7">
            <p id="para" class="mt-4">Welcome to Sumo Tracker, where every detail of your event is just a click away. Our innovative platform provides an all-in-one solution for event planners of all sizes. Effortlessly manage timelines, guest lists, and logistics while enjoying insightful analytics to improve future events. Sumo Tracker, transforming your ideas into successful gatherings has never been easier. At Event Tracker, we understand that planning an event can be overwhelming. That's why we’ve created a comprehensive tool designed to simplify the entire process. From tracking RSVPs and managing schedules to communicating with guests, our platform offers everything you need in one place. Join us and turn your event vision into reality with confidence and clarity. Sumo’s relevant and critical content is engaging for consumers and important for business decision making.</p>
        </div>
    </div>
</div>
<div class="content-secton" id="content">
    <div class="row">
        <h2 class="pt-5" id="head">Sumo's Community Events Data</h2>
        <div class="col-md-5"><p class="pt-5" id="par">Sumo’s data set consists of over 80,000 K-12 school calendars from all fifty states. Information is dynamically updated in real time to reflect school start dates, vacation dates, special events and schedules.

            Burbio delivers tens of thousands of library, government, and community non-profit event calendars from all 50 states.    Groups include YMCAs, Junior Leagues, Zoos, Aquariums, JCCs, United Ways, Habitat for Humanities, National and County Parks, Sierra Clubs, Habitats for Humanities, Rotary Clubs, and more.  Information is dynamically updated from source sites that reflect fundraising events, kids activities, volunteer groups, government meetings, and more.</p>
        </div>

        <div class="col-md-5">
            <img class="pt-5" src="/static/screen-scattered.png" alt="screen-scattered" width="400" height="360">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2 class="pt-5">Use Case:  Local Real Estate</h2>
        <div class="col-md-5">
            <img class="pt-5" src="/static/redflag.webp" width="371" height="359">
        </div>
        <div class="col-md-5">
            <p id="para" class="mt-5">Community information is a key element in the real estate purchasing decision and this information can be used by real estate professionals and large firms to demonstrate their understanding of the communities they represent and engage home buyers.  Information can be integrated into websites, email campaigns, social media postings and traditional mailers.</p>
        </div>
    </div>
{% endblock %}
