{% extends "layout.html" %}

{% block title %}
    Research
{% endblock %}

{% block main %}
<div class="container pt-5">
    <div class="row">
        <div class="col-md-4">
           <h6 class="research">Centers for Disease Control MMWR, July 2021</h6>
           <p class="research1">"Disparities in Learning Mode Access Among K–12 Students During the COVID-19 Pandemic, by Race/Ethnicity, Geography, and Grade Level."</p>
           <p class="research2">by Emily Oster,; Rebecca Jack, Clare Halloran, John Schoof, Diana McLeod,  Haisheng Yang, Julie Roche; Dennis Roche</p>
           <a class="research3" href="https://www.cdc.gov/mmwr/volumes/70/wr/mm7026e2.htm?s_cid=mm7026e2_w&utm_medium=email&_hsmi=2&_hsenc=p2ANqtz--kOeF6TlB4HFmxLra1HWfkOi1hgRxGl2JoXuWuQU6vEmv5rqHKwoksvPL4iMPYqhCzvjRDROYMLlAqsAupRzRq8nsslQ&utm_content=2&utm_source=hs_email#contribAff"><span id="view11">View Study</span></a>
        </div>
        <div class="col-md-4">
            <h6 class="research">Center for Education Policy Analysis, Stanford, August 2021</h6>
            <p class="research1">"The Revealed Preferences for School Reopening:  Evidence from Public School Disenrollment"</p>
            <p class="research2"> by Thomas S Dee, Elizabeth Huffaker, Cheryl Phillips, Eric Sagara</p>
            <a class="research3" href="https://cepa.stanford.edu/content/revealed-preferences-school-reopening-evidence-public-school-disenrollment"><span id="view10">View Study</span></a>
         </div>
         <div class="col-md-4">
            <h6 class="research">National Center for Research on Education Access and Choice, (REACH), July 2021</h6>
            <p class="research1">"Why Did So Many Public Schools Stay Remote During the COVID Crisis?"</p>
            <p class="research2">conducted by a Douglas N Harris and Daniel M Oliver </p>
            <a class="research3" href="https://reachcentered.org/publications/why-did-so-many-public-schools-stay-remote-during-the-covid-crisis"><span id="view9">View Study</span></a>
         </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-md-4">
           <h6 class="research">Nature Magazine, October 2021</h6>
           <p class="research1">"The impact of school opening model on SARS-CoV-2 community incidence and mortality."</p>
           <p class="research2">conducted by Westyn Elliman, Zeynep Ertem, Elissa M. Schechter-Perkins, Emily Oster, Polly van den Berg, Isabella Epshteain, Nathorn Chaivakunapruk, Fernando A. Wilson, Eli Perencevic, Warren B.P. Pettey, Richard E. Nelso</p>
           <a class="research3" href="https://www.nature.com/articles/s41591-021-01563-8"><span id="view8">View Study</span></a>
        </div>
        <div class="col-md-4">
            <h6 class="research">NBER Working Paper Series, October 2021</h6>
            <p class="research1">"The Fiscal and Welfare Effects of Policy Responses to the Covid 19 School Closures"</p>
            <p class="research2">by Nicola Fuchs-Schündeln, Dirk Krueger, André Kurmann, Etienne Lalé, Alexander Ludwig, Irina Popovaa</p>
            <a class="research3" href="https://www.nber.org/system/files/working_papers/w29398/w29398.pdf"><span id="view7">View Study</span></a>
         </div>
         <div class="col-md-4">
            <h6 class="research">Brookings Institution, November 2021</h6>
            <p class="research1">"The relationship between school closures and female labor force participation during the pandemic."</p>
            <p class="research2">conducted by Stephanie Aaronson and Francisca Alba</p>
            <a class="research3" href="https://www.brookings.edu/research/the-relationship-between-school-closures-and-female-labor-force-participation-during-the-pandemic/"><span id="view6">View Study</span></a>
         </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-md-4">
           <h6 class="research">McKinsey & Company, December 2021</h6>
           <p class="research1">"Covid 19 and Education: An Emerging K Shaped Recovery"</p>
           <p class="research2">conducted by Emma Dorn, Bryan Hancock, Jimmy Sarakatsannis, and Ellen Viruleg</p>
           <a class="research3" href="https://www.mckinsey.com/industries/education/our-insights/covid-19-and-education-an-emerging-k-shaped-recovery"><span id="view5">View Study</span></a>
        </div>
        <div class="col-md-4">
            <h6 class="research">NBER Working Paper Series, April 2022</h6>
            <p class="research1">"A Final Report Card on the States Response to Covid 19"</p>
            <p class="research2">by Phil Kerpenm Stephen Moorem Casey B. Mulligan</p>
            <a class="research3" href="https://www.nber.org/system/files/working_papers/w29928/w29928.pdf"><span id="view4">View Study</span></a>
         </div>
         <div class="col-md-4">
            <h6 class="research">NBER Working Paper Series, January 2022</h6>
            <p class="research1">"The Impact of School and Childcare Closures on Labor Market Outcomes During the Covid Pandemic"</p>
            <p class="research2">conducted by Kairon Shayne D. Garcia, Benjamin W. Cowan </p>
            <a class="research3" href="https://www.nber.org/system/files/working_papers/w29641/w29641.pdf"><span id="view3">View Study</span></a>
         </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-md-4">
           <h6 class="research">Annenberg, Brown University, July 2021</h6>
           <p class="research1">"The COVID-19 Pandemic Disrupted Both School Bullying and Cyberbullying"</p>
           <p class="research2">conducted by Andrew Bacher-Hicks, Joshua Goodman, Jennifer Greif Green, Melissa K. Holt</p>
           <a class="research3" href="https://files.eric.ed.gov/fulltext/ED613658.pdf"><span id="view2">View Study</span></a>
        </div>
        <div class="col-md-4">
            <h6 class="research">Harvard Business School, June 2021</h6>
            <p class="research1">"Who Closed The Schools?</p>
            <p class="research2">conducted by Joshua Coval</p>
            <a class="research3" href="https://www.hbs.edu/ris/Publication%20Files/21-127rev6-14-21_e440c304-7e2e-4042-abae-d0ba2c561a31.pdf"><span id="view">View Study</span></a>
         </div>
         <div class="col-md-4">
            <h6 class="research">NBER Working Paper Series, November 2020</h6>
            <p class="research1">"Why is all COVID 19 News Bad News?"</p>
            <p class="research2">conducted by Bruce Sacerdote, Ranjan Sehgal,
                Molly Cook</p>
            <a class="research3" href="https://www.nber.org/system/files/working_papers/w28110/w28110.pdf"><span id="view1">View Study</span></a>
         </div>
    </div>
</div>

<script>
    var view = document.getElementById("view");
    view.style.color = "green";
    view.style.fontWeight = "bold";
    view.style.border = "3px solid crimson";
    view.style.marginRight = "310px";


    var view1 = document.getElementById("view1");
    view1.style.color = "green";
    view1.style.fontWeight = "bold";
    view1.style.border = "3px solid crimson";
    view1.style.marginRight = "310px";


    var view2 = document.getElementById("view2");
    view2.style.color = "green";
    view2.style.fontWeight = "bold";
    view2.style.border = "3px solid crimson";
    view2.style.marginRight = "310px";


    var view3 = document.getElementById("view3");
    view3.style.color = "green";
    view3.style.fontWeight = "bold";
    view3.style.border = "3px solid crimson";
    view3.style.marginRight = "310px";


    var view4 = document.getElementById("view4");
    view4.style.color = "green";
    view4.style.fontWeight = "bold";
    view4.style.border = "3px solid crimson";
    view4.style.marginRight = "310px";


    var view5 = document.getElementById("view5");
    view5.style.color = "green";
    view5.style.fontWeight = "bold";
    view5.style.border = "3px solid crimson";
    view5.style.marginRight = "310px";


    var view6 = document.getElementById("view6");
    view6.style.color = "green";
    view6.style.fontWeight = "bold";
    view6.style.border = "3px solid crimson";
    view6.style.marginRight = "310px";


    var view7 = document.getElementById("view7");
    view7.style.color = "green";
    view7.style.fontWeight = "bold";
    view7.style.border = "3px solid crimson";
    view7.style.marginRight = "310px";


    var view8 = document.getElementById("view8");
    view8.style.color = "green";
    view8.style.fontWeight = "bold";
    view8.style.border = "3px solid crimson";
    view8.style.marginRight = "310px";


    var view9 = document.getElementById("view9");
    view9.style.color = "green";
    view9.style.fontWeight = "bold";
    view9.style.border = "3px solid crimson";
    view9.style.marginRight = "310px";


    var view10 = document.getElementById("view10");
    view10.style.color = "green";
    view10.style.fontWeight = "bold";
    view10.style.border = "3px solid crimson";
    view10.style.marginRight = "310px";


    var view11 = document.getElementById("view11");
    view11.style.color = "green";
    view11.style.fontWeight = "bold";
    view11.style.border = "3px solid crimson";
    view11.style.marginRight = "310px";
</script>
{% endblock %}
