{% extends "layout.html" %}

{% block title %}
    School Tracker
{% endblock %}

{% block main %}
<div class="content-secton" id="content">
    <div class="row">
        <div class="col-md-5">
            <h1 id="main_school">Sumo School Tracker Email Updates</h2>
            <p class="pt-5" id="par">Sumo’s data set consists of over 80,000 K-12 school calendars from all fifty states. Information is dynamically updated in real time to reflect school start dates, vacation dates, special events and schedules.

            Burbio delivers tens of thousands of library, government, and community non-profit event calendars from all 50 states.    Groups include YMCAs, Junior Leagues, Zoos, Aquariums, JCCs, United Ways, Habitat for Humanities, National and County Parks, Sierra Clubs, Habitats for Humanities, Rotary Clubs, and more.  Information is dynamically updated from source sites that reflect fundraising events, kids activities, volunteer groups, government meetings, and more.</p>
            <button class="btn btn-primary" type="button">
                <a href="/signup"><span id="btn">SIGN UP FOR OUR NEWSLETTER</span></a>
            </button>
        </div>

        <div class="col-md-5">
            <img class="pt-5" id="graph_img" src="/static/graph.webp" alt="graph" width="500" height="460">
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="https://about.burbio.com/hs-fs/hubfs/AI%20Chart%20Updated%20-%20School%20Boards%20.png?width=900&height=557&name=AI%20Chart%20Updated%20-%20School%20Boards%20.png" width="350" height="280">
            <a class="text" href="https://about.burbio.com/weekly-updates/burbio-school-tracker-5/14-5-and-below"><h3>Sumo School Tracker 5/14: 5% and Below</h3></a>
            <p class="pa">This week we look at some clear differences in topics discussed in school board meetings across separate states and regions, highlight Early...</p>
        </div>
        <div class="col-md-4">
            <img src="https://about.burbio.com/hs-fs/hubfs/Superintendent%20Turnover%20Averages%20-%205%20States-1.png?width=638&height=375&name=Superintendent%20Turnover%20Averages%20-%205%20States-1.png" width="330" height="250">
            <a class="text" href="https://about.burbio.com/weekly-updates/burbio-school-tracker-5/14-5-and-below"><h3>Sumo School Tracker 6/18:      Starting Line</h3></a>
            <p class="pa">This week we look at Superintendent turnover percentages in some large states, profile grants with impending deadlines for the 2024-25 year, and...</p>
        </div>
        <div class="col-md-4">
            <img src="https://about.burbio.com/hs-fs/hubfs/California%20Percentage%20Remaining%206-3-24.png?width=1032&height=528&name=California%20Percentage%20Remaining%206-3-24.png" width="350" height="280">
            <a class="text" href="https://about.burbio.com/weekly-updates/burbio-school-tracker-6/5-2024-25-budgets"><h3>Sumo School Tracker 6/5:              2024-25 Budgets</h3></a>
            <p class="pa">This week we look at 2024-25 budgets for some districts that received the most dollars-per-student of soon-to-be-expiring federal aid. We also look...</p>
        </div>
    </div>

<div class="container pt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="https://about.burbio.com/hs-fs/hubfs/State%20Grant%20Summary%205-23-1.png?width=626&height=857&name=State%20Grant%20Summary%205-23-1.png" width="350" height="280">
            <a class="text" href="https://about.burbio.com/weekly-updates/burbio-school-tracker-5/28-sizing-the-state-grant-market"><h3>Sumo School Tracker 5/28: Sizing the State Grant Market</h3></a>
            <p class="pa">This week we look at 2024-25 budgets for some districts that received the most dollars-per-student of soon-to-be-expiring federal aid. We also look...</p>
        </div>
        <div class="col-md-4">
            <img src="https://about.burbio.com/hs-fs/hubfs/Security%20Chart%205-9-24.png?width=900&height=557&name=Security%20Chart%205-9-24.png" width="350" height="280">
            <a class="text" href="https://about.burbio.com/weekly-updates/burbio-school-tracker-5/14-5-and-below"><h3>Sumo School Tracker 5/14: 5% and Below</h3></a>
            <p class="pa">This week we look at some clear differences in topics discussed in school board meetings across separate states and regions, highlight Early...</p>
        </div>
        <div class="col-md-4">
            <img src="https://about.burbio.com/hs-fs/hubfs/Superintendent%20Positions%20by%20Start%20Date.png?width=824&height=557&name=Superintendent%20Positions%20by%20Start%20Date.png" width="350" height="280">
            <a class="text" href="https://about.burbio.com/weekly-updates/burbio-school-tracker-4/30-superintendent-turnover"><h3>Sumo School Tracker 4/30: Superintendent Turnover</h3></a>
            <p class="pa">This week we introduce a new dataset that documents when K-12 district Superintendents change, profile upcoming start dates for new Superintendents,...</p>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="https://about.burbio.com/hs-fs/hubfs/School%20Districts%20by%20ESSER%20Exposure%20Level%2011-22-1.png?width=1196&height=687&name=School%20Districts%20by%20ESSER%20Exposure%20Level%2011-22-1.png" width="350" height="280">
            <a class="text" href="https://about.burbio.com/weekly-updates/burbio-school-tracker-unlimited-not-competitive"><h3>Sumo School Tracker 11/28: Unlimited & Not Competitive</h3></a>
            <p class="pa">This week we look at a national analysis of school district exposure to the "fiscal cliff," the substantial incentives for K-12 infrastructure built...</p>
        </div>
        <div class="col-md-4">
            <img src="https://about.burbio.com/hs-fs/hubfs/Distribution%20of%20Unspent%20ESSER%20III%20Funds%20by%20Districts%20Spending%20Levels-1.png?width=993&height=557&name=Distribution%20of%20Unspent%20ESSER%20III%20Funds%20by%20Districts%20Spending%20Levels-1.png" width="350" height="280">
            <a class="text" href="https://about.burbio.com/weekly-updates/burbio-school-tracker-endgame"><h3>Sumo School Tracker 3/05: Endgame</h3></a>
            <p class="pa">This week we break down the cohort of districts with the most available ESSER III funding heading into the 2024-25 budget year, chart trends from...</p>
        </div>
        <div class="col-md-4">
            <img src="https://about.burbio.com/hs-fs/hubfs/Deadlines%20Map.jpg?width=1950&height=1010&name=Deadlines%20Map.jpg" width="350" height="280">
            <a class="text" href="https://about.burbio.com/weekly-updates/burbio-school-tracker-2/05-deadlines"><h3>Sumo School Tracker 2/05: Deadlines</h3></a>
            <p class="pa">This week we look at the role that deadlines play in state-sevel funding grants, plus take a look at unspent ESSER III funds in districts across 23...</p>
        </div>
    </div>
</div>

{% endblock %}
